<nav class="nav-menu">
  <ul class="content">
    <li>D<span>ashboard</span></li>
    <li><fa-icon [icon]="faAdjust"></fa-icon><span>item 1</span></li>
    <li><fa-icon [icon]="faAdjust"></fa-icon><span>item 1</span></li>
    <li><fa-icon [icon]="faAdjust"></fa-icon><span>item 1</span></li>
    <li><fa-icon [icon]="faAdjust"></fa-icon><span>item 1</span></li>
    <li><fa-icon [icon]="faAdjust"></fa-icon><span>item 1</span></li>
    <li><fa-icon [icon]="faAdjust"></fa-icon><span>item 1</span></li>
    <li><fa-icon [icon]="faAdjust"></fa-icon><span>item 1</span></li>
  </ul>
</nav>
