@import '../../../assets/styles/theme-dark.scss';
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Marmelad|Megrim');

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5em;
  width: 1.5em;
  height: 1.5em;
  border:1px solid white;
  transition: all 0.5s;
  opacity: 0.2;
  background: crimson;
}
.nav-menu {
  display: inline-block;
  margin-top: 1rem;
  height: 100%;
  width: 80px;
  transition: width 0.2s;
  color: white;
  font-size: 1.5em;
  border-right: 1px solid #27395D;
  ul {
    padding: 0.5em;
  }
  li {
    list-style-type: none;
    padding: 0;
    margin-bottom: 1em;
    min-width: 200px;
    &:first-child {
      display: flex;
      align-items: center;
      height: 2em;
      width: 100%;
      font-family: 'Fredericka the Great';
      font-size: 1.5em;
      span {
        flex-grow: 1;
        opacity: 0;
        margin:0;
        font-size: 0.8em;
      }
    }
    span {
      opacity: 0;
    }
  }
}
.nav-menu li span {
  margin: 0 0 0 1em;
}
.nav-menu .content span {
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s;
  width: 100px;
}
.nav-menu:hover {
  width: 200px;
  transition: width 0.2s;
}
.nav-menu:hover {
  .content {
    li:not(:first-child) {
      color: red;
      transition: color 0.2s;
      span {
        color: white;
        opacity: 1;
        transition: opacity 0.2s;
      }
    }
    li {
      &:first-child {
        font-family: 'Fredericka the Great';
        span {
          opacity: 1;
          transition: opacity 0.2s;
        }
      }
    }
  }
  .circle {
    width: 1em;
    height: 1em;
    background: none;
    border: none;
    opacity: 1;
  }
}
