<nav class="nav-menu">
  <ul class="content">
    <li><fa-icon [icon]="faAlignLeft"><span></span></fa-icon></li>
    <li><fa-icon [icon]="faAdjust"></fa-icon><span>item 1</span></li>
    <li><fa-icon [icon]="faAdjust"></fa-icon><span>item 1</span></li>
    <li><fa-icon [icon]="faAdjust"></fa-icon><span>item 1</span></li>
    <li><fa-icon [icon]="faAdjust"></fa-icon><span>item 1</span></li>
    <li><fa-icon [icon]="faAdjust"></fa-icon><span>item 1</span></li>
    <li><fa-icon [icon]="faAdjust"></fa-icon><span>item 1</span></li>
    <li><fa-icon [icon]="faAdjust"></fa-icon><span>item 1</span></li>
  </ul>
</nav>
