@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import 'assets/styles/theme-dark';
body, html {
  background: #152137;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1em;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $font-ui-00;
}
