.dashboard-card {
  background: #1B2A47;
  border-radius: 0.2rem;
  margin: 1rem;
  padding: 0.3em;

  .dashboard-card-content {
    @import 'scrollbar';
    display: flex;
    flex-direction: column;
    width: 20rem;
    color: white;
    flex-wrap: wrap;
    header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      font-weight: 600;
      font-family: 'Roboto-Thin';
      color: white;
      font-size: 1.2em;
      margin-bottom: 2rem;
      padding-left: 0.5em;
      padding-right: 0.5em;
      ul {
        width: 100%;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
      }
    }
    .panel-container {
      overflow-y: auto;
      max-height: 25rem;
    }
    .panel1 {
      font-weight: 400;
      font-size: 3em;
    }
  }
}
